@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>What is @Html.ActionLink("www.findpersonalinfo.com", "Index", "Home")</h3>
<p>@Html.ActionLink("www.findpersonalinfo.com", "Index", "Home") is a database dump search engine. Our servers track the latest and greatest database dumps and allows any user to easily search through without having to do all the work behind it.</p>
<h3>Is this free?</h3>
<p>
    Searching on @Html.ActionLink("www.findpersonalinfo.com", "Index", "Home") is completely free. We don't store or sell any information to anybody. All we ask is for you to click a few ads here and there if you've found our service helpful.
</p>
